body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
   
    height: 620px;
    width: 378px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}
.grid div {
    height: 40px;
    width: 40px;
  
}
.valid{
    border: 1px solid wheat;
}

.checked{
    background-color: red;
}

.bomb{
    border: 1px solid wheat;
    
}